/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'Roboto', sans-serif;
}

body {
	font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-weight: 700;
}

.section {
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.mat-snack-bar-container.mat-snack-bar-top.mat-snack-bar-center {
	margin-top: 60px !important;
}

.bg-green .mat-simple-snackbar {
	color: #800d0e;
	color: #fff;
	font-weight: bold;
}

.bg-red .mat-simple-snackbar {
	color: red;
	color: #fff;
	font-weight: bold;
}

.mat-simple-snackbar-action {
	color: #000 !important;
}

.date-placeholder {
	&:before {
		content: attr(placeholder) !important;
		color: #aaa;
		margin-right: 0.5em;
	}
	&:focus:before,
	&:valid:before {
		content: "";
	}
}

@media (max-width: 990px) {
	.margin-top-md {
		margin-top: 6px;
	}
}

@media (min-width: 768px) {
	.scrollable {
		max-height: 300px;
		overflow-x: hidden;
		overflow-y: scroll;
	}
}

.divider {
	height: 1px;
	width: 100%;
	display: block;
	/* for use on default inline elements like span */
	margin: 9px 0;
	overflow: hidden;
	background-color: darken(#e5e5e5, 20%);
}

.purple-button,
.purple-button:hover,
.purple-button:active,
.purple-button:visited,
.purple-button:focus {
	background-color: #9933ff !important;
	border-color: #9933ff !important;
}

.sidebar-menu li>a>.pull-right-container>.fa-angle-left {
	transition: transform .5s ease;
}

.ql-container {
	min-height: 250px;
	margin-bottom: 20px;
}

.login-logo img {
	width: 100%;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
	border-color: #eae3e3;
}

.form-inline {
	display: inline;
}

.btn.btn-info {
	margin: 10px 5px;
}

input.w100,
select.w100,
.form-inline .form-group {
	width: 100% !important;
}

.form-inline .form-group {
	margin: 10px 0;
}

.main-content-wrapper {
	float: left;
	width: 100%;
	background: #fff;
	padding: 10px;
}

.mat-tab-list {
	border-bottom: 1px solid #3c8dbc !important;
}

.mat-tab-label-active {
	background: #3c8dbc;
	color: #fff;
}

.mat-tab-body.mat-tab-body-active .mat-tab-body-content {
	overflow: hidden !important;
}

.org-select-dropdown .multiselect-dropdown {
	width: 50%;
}

.skin-blue .main-header .logo {
	color: #ffffff;
	border-right: 1px solid #000000;
	background: #fff;
	height: auto;
	padding: 10px;
}

.skin-blue .main-header .navbar {
	background-color: #800d0e;
	max-height: 50px;
	position: relative;
}

.mat-tab-label-active {
	background: #000000;
	color: #fff;
}

button,
.btn {
	/* background: #e31f24;
border: 1px solid #e31f24;*/
	background: #ff0103;
	border: 1px solid #ff0103;
	padding: 5px 10px;
	color: #fff;
	font-size: 13px;
}

.main-sidebar {
	padding-top: 70px;
}

.skin-blue .main-header .logo:hover {
	background-color: #fff !important;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
	background-color: transparent;
}

a:hover {
	background-color: transparent !important;
}

.btn:hover,
.btn:focus,
.btn.focus {
	background-color: #ff0103 !important;
	border: 1px solid #ff0103 !important;
}

.logo-mini .main-logo img {
	width: 35px;
}

.mat-tab-list {
	border-bottom: 1px solid #000000 !important;
}


/*.mat-tab-body form{
border: 1px solid #000000;
padding: 20px;
margin-top: 20px;
}*/

.navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default {
	color: #fff;
	background: red;
}

.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
	position: absolute;
	right: 0;
	left: auto;
	width: auto;
	/* background: transparent; */
}

.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
	background-color: #7cc57f;
	background-color: #353535;
}

.skin-blue .sidebar a {
	color: #fff;
}

.sidebar-menu>li>a>.fa,
.sidebar-menu>li>a>.glyphicon,
.sidebar-menu>li>a>.ion {
	width: 20px;
	color: #fff !important;
}

.sidebar-menu>li>a {
	font-size: 13px;
	padding: 12px 5px 12px 10px;
}

.sidebar-menu>li.active>a,
.sidebar-menu>li:hover>a {
	border-left-color: #3c8dbc !important;
	// background: #1e282c !important;
	background: #fff;
}

.menu-categories .active{
	background:#fff;
}
	

table {
	margin: 20px 0px;
}

table thead {
	/*border:1px solid #ddd;*/
	border: 1px solid #ccc;
	margin-bottom: 5px;
}

table thead th {
	font-size: 14px;
	padding: 12px 10px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #eae9e9;
}

table tbody {
	/*border:1px solid #ddd;*/
	border: 1px solid #ccc;
}

.login-logo .logo-mini .main-logo img {
	width: 132px;
}

.form-control {
	border-color: #000000;
	color: #ff0103;
	height: 30px;
	padding: 5px 12px;
}

.table>thead>tr>th {
	color: #fff;
	background: #800d0e;
}

table>tbody>tr>td {
	border-top: 0px none;
}

.ngx-pagination li.current {
	background: #000000;
	color: #fefefe;
}

.multiselect-dropdown .dropdown-btn .selected-item {
	border: 1px solid #ff0103 !important;
	background: #ff0103 !important;
}

.box.box-solid.box-primary {
	border: 1px solid #000000;
}

.box.box-solid.box-primary .text-blue {
	color: #000000 !important;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
	border-color: #000000;
}

.multiselect-dropdown .dropdown-btn {
	border: 1px solid #000000 !important;
	border-radius: 0 !important;
}


/** superadmin css**/

.mat-tab-body {
	border: 1px solid #000000;
	padding: 20px;
}

.content-wrapper {
	background-color: #ecf0f5;
	background-color: #fff;
}

.all-com-form h1 {
	color: #000000;
	text-transform: capitalize;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #000000;
	margin-left: 0px;
	margin-top: 0px;
	font-size: 20px;
	font-weight: 700;
}

.org-form-group-up {
	margin-bottom: 15px;
	float: left;
	width: 100%;
}

.org-form .form-group {
	float: left;
	width: 100%;
}

.org-form-group-up label {
	float: left;
	width: 25%;
	color: #000000;
	margin-top: 4px;
	text-transform: capitalize;
}

.org-form-group-up input {
	float: left;
	width: auto !important;
	border: 1px solid #000000;
	color: #ff0103;
	min-width: 230px;
}

.org-form-group-up .checkbox-with-label input {
	width: 8%;
	min-width: 20px;
	display: inline-block;
	float: left;
	margin-top: 8px;
}

.org-logo-form-group input {
	border-bottom: none;
}

.org-form-group-up .checkbox-with-label {
	width: 25%;
	min-width: 252px;
	float: left;
}

.org-form-group-up .checkbox-with-select {
	width: auto !important;
}

.org-form-group-up select {
	float: left;
	width: auto !important;
	border: 1px solid #000000;
	color: #ff0103;
	min-width: 230px;
}

.org-form-group-up .checkbox-with-label label {
	width: 88%;
	display: inline-block;
}

.checkbox-form-group label {
	color: #000000;
}

.org-form-group-up .checkbox-with-label input {
	width: 8%;
	min-width: 20px;
	display: inline-block;
	float: left;
	margin-top: 8px;
}

.multiselect-org {
	float: left;
	width: 100%;
	min-width: 230px;
}

.upload-btn-wrapper {
	position: relative;
	width: 140px;
	overflow: hidden;
	display: inline-block;
	float: left ;
	margin-right: 10px;
	margin-bottom: 0px;
}

.upload-btn-wrapper input[type=file] {
	position: absolute;
	left: 5px;
	top: 15px;
	opacity: 0;
}

.btn-upload {
	border: 2px solid #ff0103;
	color: #fff;
	background-color: #ff0103;
	padding: 3px 12px;
	border-radius: 8px;
	font-size: 12px;
	border-radius: 0;
}

.org-form-group-up input {
	float: left;
	width: auto;
	border: 1px solid #000000;
	color: #ff0103;
	min-width: 230px;
}

.org-logo-form-group input {
	border-bottom: none;
}

.uploaded-logo {
	float: left;
}

.uploaded-logo img {
	height: 60px;
}

.box.box-solid.box-primary.org-upload-document {
	border: none;
	box-shadow: none;
}

.box.box-solid.box-primary.org-upload-document .box-body {
	padding: 0px;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
	border-color: #ccc;
	color: #000000;
	background: #efefef;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th {
	color: #fff;
	text-transform: capitalize;
	background: #000000 !important;
}

.org-form .form-group.upload-btn-wrapper {
	width: auto;
}

.org-uploaded-img img {
	width: 80px;
	height: 80px;
}

.img-pos-td {
	width: 15%;
}

.addmore-div,
.blank-td {
	width: 20%;
	border: none;
}

.button,
.btn,
button,
.btn-upload {
	background: #800d0e;
	border: 1px solid #800d0e;
	color: #fff;
	border-radius: 0px !important;
	transition: 0.6s;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
}

.btn-upload:hover {
	background: #ff0103 !important;
	border: 1px solid #ff0103 !important;
}

.button:hover,
.btn:hover,
button:hover,
.btn-upload:hover,
.button:focus,
.btn:focus,
button:focus,
.button:active,
.btn:active,
button:active {
	background: #ff0103 !important;
	color: #fff !important;
	border: 1px solid #ff0103 !important;
	transition: 0.6s;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
}

.label-icn {
	margin-right: 7px;
}

.mat-tab-labels .mat-tab-label {
	background: #b9efbb;
	color: #000000;
	margin-right: 3px;
}

.mat-tab-labels .mat-tab-label.mat-tab-label-active {
	background: #000000;
	color: #fff;
	font-weight: 500;
}

div.qtraq-subtitle-wrapper {
	position: relative;
}

div.qtraq-subtitle-wrapper button {
	position: absolute;
	right: 0;
	top: -5px;
}

.table-bordered>thead>tr>td input,
.table-bordered>tbody>tr>td input,
.table-bordered>tfoot>tr>td input,
.table-bordered>tfoot>tr>td select,
.table-bordered>tbody>tr>td select {
	border-color: #000000;
	color: #ff0103;
	width: auto;
}

.table-bordered>thead>tr>td input,
.table-bordered>tbody>tr>td input,
.table-bordered>tfoot>tr>td input {
	width: 120px !important;
	min-width: 100px;
	height: 27px;
	/*margin-top: -15px;
margin-left: -15px;*/
}

.table-bordered>tbody>tr>td .btn-upload {
	margin-right: 10px;
}

.img-pos-th {
	width: 25%;
}

.img-type-th {
	width: 20%;
}

.img-action-th {
	width: 20%;
}

.img-pos-td {
	width: 25%;
}

.img-type-td {
	width: 20%;
}

.org-time-tabble.table-bordered>thead>tr>td input,
.org-time-tabble.table-bordered>tbody>tr>td input,
.org-time-tabble.table-bordered>tfoot>tr>td input {
	width: 140px !important;
}

.location-form-main {
	width: 63%;
	float: left;
}

.location-form-main .location-form {
	/* padding: 20px; */
	padding: 20px 0px;
	margin: 0px -10px;
}

.location-form-main .location-form .form-group {
	float: left;
	width: 50%;
	padding: 0px 10px;
	/*min-height: 90px;*/
	position: relative;
}

.location-form-main label {
	color: #000000;
	text-transform: capitalize;
}

.location-form-main input,
.location-form-main select {
	border: 1px solid #000000;
	color: #ff0103;
}

.contact-form-detail .two-input {
	position: relative;
	padding-right: 10px;
}

.location-form-main input,
.location-form-main select {
	border: 1px solid #000000;
	color: #ff0103;
}

.contact-form-detail .two-input-right {
	position: absolute;
	right: 9px;
	top: -25px;
}

.subscription-plan-list {
	border: 1px solid #000000;
	margin-bottom: 10px;
	border-radius: 4px;
	padding: 20px;
	display: table;
	float: left;
	width: 100%;
	background: #b9efbb;
}

.subscription-plan-list:first-child {
	margin-top: 30px;
}

.subscription-plan-list .sub-plan {
	display: table-cell;
	vertical-align: middle;
}

.subscription-plan-list .sub-price {
	display: table-cell;
	width: 100px;
	vertical-align: middle;
}

.subscription-plan-list .sub-plan span {
	color: #000000;
	font-size: 20px;
	font-weight: 800;
}

.subscription-plan-list .sub-price span span {
	font-weight: 100;
	font-size: 25px;
}

.subscription-plan-list:hover,
.subscription-plan-list:focus,
.subscription-plan-list:active,
.subscription-plan-list:visited {
	background: #f9ffa4;
}

.location-form-main h1,
.qtraq-subtitle-wrapper h1 {
	padding: 15px 20px;
	margin: 0;
	color: #000000;
	background: transparent;
	border-bottom: 1px solid #000000;
	padding-left: 0;
	text-align: left;
	padding-top: 0px;
	font-size: 20px;
	font-weight: 700;
}

.generate-otp-div {
	position: relative;
}

.generate-otp-btn {
	position: absolute;
	top: 25px;
	right: 3px;
	padding: 3px 8px;
}

.location-form-main .location-form .form-group.full {
	float: left;
	width: 100%;
}

.wrapper-70 {
	width: 70%;
	float: left;
}

.full {
	float: left;
	width: 100%;
}

.superadmin-all-form .location-form-main {
	padding: 20px;
	border: 1px solid #000000;
}

.superadmin-all-form .location-form-main label {
	width: 100%;
}

/** check box styling **/
.working-day-content-col input[type=checkbox],
.com-checkbox input[type=checkbox] {
	position: relative;
	top: -0.375rem;
	top: 0;
	margin: 0 1rem 0 0;
	cursor: pointer;
}

.com-checkbox input[type=checkbox] {
	position: relative;
	top: 1px;
	margin: 0 1rem 0 0;
	cursor: pointer;
	width: auto;
}

.organization-form .com-checkbox input[type=checkbox] {
	top: 5px;
}

.working-day-content-col input[type=checkbox]:before,
.com-checkbox input[type=checkbox]:before {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	content: "";
	position: absolute;
	left: 0;
	z-index: 1;
	width: 20px;
	height: 20px;
	border: 3px solid #ddd;
	top: -1px;
}

.working-day-content-col input[type=checkbox]:checked:before,
.com-checkbox input[type=checkbox]:checked:before {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	height: 8px;
	border-color: #009688;
	border-top-style: none;
	border-right-style: none;
	/* border-color: #ff0103;
    border-left: 3px solid #ff0103;
    border-bottom: 3px solid #ff0103;*/
	width: 15px;
	top: 2px;
	left: 2px;
	border-color: #fff;
	border-left: 3px solid #fff;
	border-bottom: 3px solid #fff;
}

.working-day-content-col input[type=checkbox]:after,
.com-checkbox input[type=checkbox]:after {
	content: "";
	position: absolute;
	top: -0.125rem;
	left: 0;
	width: 20px;
	height: 20px;
	background: #fff;
	cursor: pointer;
	border: 2px solid #000000;
}

.working-day-content-col input[type=checkbox]:checked:after,
.com-checkbox input[type=checkbox]:checked:after {
	background: #000000;
}

.working-day-content-col {
	position: relative;
	margin: 0px 0px 15px 0px;
	line-height: 135%;
	cursor: pointer;
}

.com-checkbox {
	position: relative;
	cursor: pointer;
}

.working-day-content-col label,
.com-checkbox label {
	display: inline-block;
	cursor: pointer;
}


/*.sidebar-angular{
margin-top:40px;
}*/

.label-text {
	position: relative;
	top: -5px;
}

.mat-tab-labels .mat-tab-label.mat-tab-label-active {
	background: #000000 !important;
	color: #fff;
}

.mat-tab-label {
	opacity: 1 !important;
	height: 40px !important;
}

img.site-logo {
	width: 100px;
}

.upload-left-table {
	float: left;
	width: 50%;
	padding-right: 10px;
}

.upload-right-table {
	float: left;
	width: 50%;
	padding-left: 10px;
}

.qtraq-subtitle-wrapper h3 {
	border-bottom: 1px solid green;
	padding-bottom: 15px;
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: 700;
	color: #000000;
}

button.btn-upload.ub-org-logo {
	margin-top: 20px !important;
	margin-left: 20px !important;
}

.remove.blank-td a .material-icons {
	font-size: 20px;
}

.remove.blank-td a,
.remove.blank-td a:hover,
.remove.blank-td a:active,
.remove.blank-td a:focus {
	color: #771216;
}

a {
	cursor: pointer;
}

.table-bordered {
	margin-bottom: 10px;
}

.mt25 {
	margin-top: 25px;
}

.mb25 {
	margin-bottom: 25px;
}

.mt20 {
	margin-top: 20px;
}

.mb20 {
	margin-bottom: 20px;
}

.mt10 {
	margin-top: 10px !important;
}

.mb10 {
	margin-bottom: 10px !important;
}

ul.ngx-pagination {
	margin: 0;
	padding: 10px;
	text-align: center;
}

.ngx-pagination li {
	color: #333 !important;
	text-align: center;
}

.ngx-pagination .current {
	width: 30px !important;
	padding: 5px !important;
	background: #800d0e !important;
	color: #fff !important;
	border-radius: 20px !important;
	cursor: pointer;
}

.addplannew .form-horizontal .form-group {
	margin-left: 0;
	margin-right: 0;
}


.upload-btn-wrapper input[type=file]:hover {
	background: #ff0103;
}


.qprovider-btn .dropdown-menu a {
	color: #fff;
	padding: 5px 10px;
	display: block;
}

.qprovider-btn .dropdown-menu {
	background: #800d0e;
	border-radius: 0px;
	color: #fff;
}

div.qtraq-subtitle-wrapper {
	margin-top: 15px;
}

.admin-main-page-wrapper {
	text-align: center;
}

.admin-main-page-wrapper .qtraq-dash-main-title h3 {
	font-size: 42px;
	text-transform: uppercase;
}

.admin-main-img img {
	width: 300px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.admin-main-text p {
	margin-top: 40px;
	font-size: 22px;
}

.com-checkbox input[type=checkbox]:checked+label._ngcontent-c3 {
	color: #ff0103;
}

#loading-img {
	background: url("https://www.jfklibrary.org/themes/custom/jfkl/images/spinner.gif") center center no-repeat;
	height: 100%;
	z-index: 20;
}

.overlay {
	background: #cdcdcd;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.5;
}

.skin-blue .sidebar-menu>li>a img {
	margin-right: 5px;
}

.admin-name {
	font-weight: bold;
	font-style: italic;
	border-bottom: 1px solid #fff;
	min-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.superadmin-title {
	display: inline-block;
	position: absolute;
	left: 0;
	right: 0;
	top: -8px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

.text-danger {
	position: absolute;
	color: #f00 !important;
	font-style: italic;
}

h1.page-title-primary {
	margin: 10px 0;
	padding: 10px 20px;
	border-bottom: 1px solid #000000;
	color: #000000;
	text-transform: capitalize;
	font-size: 20px;
	font-weight: 700;
	text-align: left !important;
}

.text_green {
	color: #000000 !important;
}

.text_pink {
	color: #ff0103 !important;
}

.text_grey {
	color: #898989 !important
}

textarea {
	border-color: #000000;
	color: #ff0103;
	padding: 5px 12px;
}

.textarea-150 {
	height: 150px !important;
}

.ngxmdp .monthlabel,
.ngxmdp .yearlabel {
	background: #ff0103 !important;
}

.form-group {
	position: relative;
}

.contact-details .form-group {
	margin-bottom: 25px !important;
}

.clearfix {
	line-height: 0;
}

.help-block {
	margin: 0;
}

.overlay.qtraq-overlay {
	background-color: rgba(255, 255, 255, 0.6) !important;
	opacity: 1 !important;
}

.confirmation-popup {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 40%;
	width: 300px;
	padding: 20px;
	text-align: center;
	border: 2px solid #055d08;
	background: #fff;
}

.border-green {
	border: 1px solid #000000 !important;
	color: #ff0103 !important;
}

table.table.table-bordered,
table.table.table-bordered .form-group {
	margin: 0 !important
}

.subscription-plan-list {
	margin: 0 !important;
}

input[type="file"].form-control {
	border: 0px none !important;
}

input[type="file"].form-control,
.upload-btn-wrapper input[type="file"] {
	width: 140px;
	height: 35px;
}

.upload-btn-wrapper .btn-upload {
	width: 110px !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.map-link {
	position: absolute;
	top: 25px;
	right: 12px;
	height: 26px;
	padding: 0 3px;
}

.map-link,
.map-link:hover,
.map-link:active,
.map-link:focus {
	background: #800d0e !important;
}

.map-link span {
	display: inline-block;
	position: relative;
	top: -7px;
	left: 3px;
	color: #fff
}

.map-link i {
	color: #fff
}

.map-link-input {
	padding-right: 85px;
}

.image-name {
	display: block;
	margin: 5px 0;
	width: 110px;
	text-align: center;
}

.image-name.org-img-name {
	display: inline-block;
	margin: 5px 0 0 20px;
	width: 110px;
	text-align: center
}

.upload-plan-img {
	width: 60px;
	height: 60px;
}
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Droid Sans', sans-serif;
    outline: none;
  }
  ::-webkit-scrollbar {
    background: transparent;
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  body {background-color: #fff;}
  #contents {
    position: relative;
    transition: .3s;
    margin-left: 270px;
  }
  .margin {
    margin-left: 0 !important;
  }
  
  /* Start welcome */
  
  .welcome {
    color: #CCC;
  }
  .welcome .content {
    color: #000;
    background-color: #31334814;
    padding: 15px;
    margin-top: 25px;
  }
  .welcome h2 {
    font-family: Calibri;
    font-weight: 100;
    margin-top: 0
  }
  .welcome p {
    color: #999;
  }
  
  
  /* Start statistics */
  .statistics {
    margin-top: 25px;
    color: #CCC;
  }
  .statistics .box {
    // background-color: #313348;
    padding: 15px;
	overflow: hidden;
	text-align: center;
	color:#d9534f;
	border-top:0px;
	box-shadow: 0px 0px 6px 1px #df2e2e2e;
  }
  .statistics .box > i {
	color: #FFF;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    margin-top: 20px;
  }
  .statistics .box .info {
    // float: left;
    width: auto;
	// margin-left: 10px;
	min-height:45px;
  }
  .statistics .box .info h3 {
    margin: 5px 0 5px;
    display: inline-block;
  }
  .statistics .box .info p {color:#BBB}
  
  /* End statistics */
  /* Start charts */
  .charts {
    margin-top: 25px;
    color: #BBB
  }
  .charts .chart-container {
    background-color: #313348;
    padding: 15px;
  }
  .charts .chart-container h3 {
    margin: 0 0 10px;
    font-size: 17px;
  }
  
  /* Start users */
  
  .admins {
    margin-top: 25px;
  }
  .admins .box {
  
  }
  .admins .box > h3 {
    color: #ccc;
    font-family: Calibri;
    font-weight: 300;
    margin-top: 0;
  }
  .admins .box .admin {
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #313348;
    padding: 10px;
  }
  .admins .box .admin .img {
    width: 20%;
    margin-right: 5%;
    float: left;
  }
  .admins .box .admin .img img {
    border-radius: 50%;
  }
  .admins .box .info {
    width: 75%;
    color: #EEE;
    float: left;
  }
  .admins .box .info h3 {font-size: 19px}
  .admins .box .info p {color: #BBB}
  
  /* End users */
  /* Start statis */
  
  .statis {
    color: #EEE;
    margin-top: 15px;
  }
  .statis .box {
    position: relative;
    padding: 15px;
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 25px;
  }
  .statis .box h3:after {
    content: "";
    height: 2px;
    width: 70%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.12);
    display: block;
    margin-top: 10px;
  }
  .statis .box i {
    position: absolute;
    height: 70px;
    width: 70px;
    font-size: 22px;
    padding: 15px;
    top: -25px;
    left: -25px;
    background-color: rgba(255, 255, 255, 0.15);
    line-height: 60px;
    text-align: right;
    border-radius: 50%;
  }
  
  /*chart*/
  .chrt3 {
    padding-bottom: 50px;
  }
  .chrt3 .chart-container {
    height: 350px;
    padding: 15px;
    margin-top: 25px;
  }
  .chrt3 .box {
    padding: 15px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  .main-color {
    color: #ffc107
  }
  .warning {background-color: #f0ad4e}
  .danger {background-color: #d9534f}
  .success {background-color: #5cb85c}
  .inf {background-color: #5bc0de}
  
  
  
  /* Start bootstrap */
  .navbar-right .dropdown-menu {
    right: auto !important;
    left: -80px !important;
  }
  .navbar-default {
    background-color: #800d0e  !important;
    border: none !important;
    border-radius: 0 !important;
    margin: 0 !important
  }
  .navbar-default .navbar-nav>li>a {
    color: #fff !important;
		/* line-height: 55px !important; */
		font-weight:700;
		padding: 0 10px !important;
		
  }
  .navbar-default .navbar-brand {color:#FFF !important}
  .navbar-default .navbar-nav>li>a:focus,
  .navbar-default .navbar-nav>li>a:hover {color: #EEE !important}
  
  .navbar-default .navbar-nav>.open>a,
  .navbar-default .navbar-nav>.open>a:focus,
  .navbar-default .navbar-nav>.open>a:hover {background-color: transparent !important; color: #FFF !important}
  
  .navbar-default .navbar-brand {line-height: 55px !important; padding: 0 !important}
  .navbar-default .navbar-brand:focus,
  .navbar-default .navbar-brand:hover {color: #FFF !important}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {margin: 0 !important}
	.m0{margin:0 !important;}
	.mt0{margin-top:0 !important;}
	.mb0{margin-bottom:0 !important;}
	.mt30{margin-top:30px !important;}
	.mb30{margin-bottom:30px !important;}
	.mt25{margin-top:25px !important;}
	.mb25{margin-bottom:25px !important;}
	.mt20{margin-top:20px !important;}
	.mb20{margin-bottom:20px !important;}
	.mt15{margin-top:15px !important;}
	.mb15{margin-bottom:15px !important;}
	.mt5{margin-top:5px !important;}
	.mb5{margin-bottom:5px !important;}
	.mt10{margin-top:10px !important;}
	.mb10{margin-bottom:10px !important;}
	.ml10{margin-left:10px !important;}
	.mr10{margin-right:10px !important;}
	.ml15{margin-left:15px !important;}
	.mr15{margin-right:15px !important;}
	.text-white{color:#fff !important;}
	.position-relative{position:relative !important;}
	.hamburger-mobile{display:none;}
  @media (max-width: 767px) {		
		.hamburger-mobile{display:block;}		
    .navbar>.container-fluid .navbar-brand {
      margin-left: 15px !important;
    }
    .navbar-default .navbar-nav>li>a {
      padding-left: 0 !important;
    }
    .navbar-nav {
      margin: 0 !important;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
      border: none !important;
    }
  
  }
  
  .navbar-default .navbar-nav>li>a {
    float: left !important;
  }
  .navbar-default .navbar-nav>li>a>span:not(.caret) {
    background-color: #e74c3c !important;
    border-radius: 50% !important;
    height: 25px !important;
    width: 25px !important;
    padding: 2px !important;
    font-size: 11px !important;
    position: relative !important;
    top: -10px !important;
    right: 5px !important
  }
  .dropdown-menu>li>a {
    padding-top: 5px !important;
    padding-right: 5px !important;
  }
  .navbar-default .navbar-nav>li>a>i {
    font-size: 18px !important;
  }
  
  
  
  
  /* Start media query */
  
  @media (max-width: 767px) {
    #contents {
      margin: 0 !important
    }
    .statistics .box {
      margin-bottom: 25px !important;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: #CCC !important
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
      color: #FFF !important
    }
    .navbar-default .navbar-toggle{
      border:none !important;
      color: #EEE !important;
      font-size: 18px !important;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color: transparent !important}
  }
  /* Start side navigation bar  */
  
.side-nav {
    float: left;
    height: 100%;
    width: 270px;
    background-color: #333;
    color: #fff;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: .3s;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 9999999
  }
  .side-nav .close-aside {
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
    color: #EEE;
  }
  .side-nav .heading {
    background-color: #333;
    padding: 15px 15px 15px 30px;
    overflow: hidden;
    border-bottom: 1px solid #2a2b3c
  }
  .side-nav .heading > img {
    float: left;
    width: 100%;
  }
  .side-nav .info {
    float: left;
    width: 69%;
    margin-left: 3%;
  }
  .side-nav .heading .info > h3 {margin: 0 0 5px}
  .side-nav .heading .info > h3 > a {
    color: #EEE;
    font-weight: 100;
    margin-top: 4px;
    display: block;
    text-decoration: none;
    font-size: 18px;
  }
  .side-nav .heading .info > h3 > a:hover {
    color: #FFF;
  }
  .side-nav .heading .info > p {
    color: #BBB;
    font-size: 13px;
  }
  /* End heading */
  /* Start search */
  .side-nav .search {
    text-align: center;
    padding: 15px 30px;
    margin: 15px 0;
    position: relative;
  }
  .side-nav .search > input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #23262d;
    padding: 7px 0 7px;
    color: #DDD
  }
  .side-nav .search > input ~ i {
    position: absolute;
    top: 22px;
    right: 40px;
    display: block;
    color: #2b2f3a;
    font-size: 19px;
  }
  /* End search */
  
  .side-nav .categories > li {
    padding: 17px 40px 17px 30px;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.02);
    cursor: pointer;
  }
  .side-nav .categories > li > a {
		color: #fff;
		font-weight:700;
    text-decoration: none;
  }
  /* Start num: there are three options primary, danger and success like Bootstrap */
  .side-nav .categories > li > a > .num {
    line-height: 0;
    border-radius: 3px;
    font-size: 14px;
    color: #FFF;
    padding: 0px 5px
  }
  .dang {background-color: #f35959}
  .prim {background-color: #0275d8}
  .succ {background-color: #5cb85c}
  /* End num */
  .side-nav .categories > li > a:hover {
    color: #FFF
  }
  .side-nav .categories > li > i {
    font-size: 18px;
	width: 25px;
    text-align: center;
  }
  /* .side-nav .categories > li > a:after {
    content: "\f053";
    font-family: fontAwesome;
    font-size: 11px;
    line-height: 1.8;
    float: right;
    color: #AAA;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  } */
  .side-nav .categories .opend > a:after {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  /* End categories */
  /* Start dropdown menu */
  .side-nav .categories .side-nav-dropdown {
    padding-top: 10px;
    padding-left: 30px;
    list-style: none;
    display: none;
  }
  .side-nav .categories .side-nav-dropdown > li > a {
    color: #AAA;
    text-decoration: none;
    padding: 7px 0;
    display: block;
  }
  .side-nav .categories p {
    margin-left: 30px;
    color: #535465;
    margin-top: 10px;
  }
  
  /* End dropdown menu */
  
  .show-side-nav {
    -webkit-transform: translateX(-270px);
    -moz-transform: translateX(-270px);
    transform: translateX(-270px);
  }
  .hamburger-mobile{
		float:right;position:relative;right:-10px;top:20px;z-index:9999
	}
	.margin{
		margin:0 !important;
	}
	ul li.select-year-top label{
		display:inline-block;
		width:150px;		
	}
	ul li.select-year-top div.form-group{
		display:inline-block;
		width:140px;
	} 
	.select-academy-label{
		width: 130px;
    float: left;
		margin-right: 10px;
		font-size:12px;
	}
	.select-academy-dropdown{
		width: 105px;
    float: left;
	}
	.select-academy-dropdown select{
		font-size:12px;
	}
	/* Start media query */
	
  @media (max-width: 767px) {
    .side-nav .categories > li {
      padding-top: 12px;
      padding-bottom: 12px;
    }
    .side-nav .search {
      padding: 10px 0 10px 30px
		}
		.side-nav{
			transform: translateX(-270px);
		}
		.side-nav.show-side-nav{
			transform: translateX(0);
		}
  }
  
  /* End side navigation bar  */
  input.custom-img.form-control[type=file]{
  	width : 100%
  }
.inputfile-box {
    position: relative
}

.inputfile-box .inputfile {
    display: none
}

.inputfile-box label {
    margin-bottom: 0;
    width: 100%
}

.inputfile-box .file-box {
    display: inline-block;
    width: 100%;
    border: 1px solid #B3B5BB;
    padding: 5px 0px 5px 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 46px!important
}

.inputfile-box .file-button {
    background: #800d0e;
    padding: 0 15px;
    position: absolute;
    top: 0px;
    right: 0px;
    color: #FFF;
    height: 46px!important;
    line-height: 46px
}
.modal-backdrop.in {
   background-color: transparent !important;
}
button.btn.btn-sm.pdf-btn {
    margin: 0 5px;
    width: 30px;
    height: 30px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
.loader img{
    text-align: center;
    position: fixed;
    top: 50%;
    left: 15%;
    right: 0;
    margin: auto;
    z-index: 1111;
    width : 6%;
}

.dash-menu .box{
	cursor:pointer;
}
.dash-menu .box:hover{
	background:#d9534f;	
}


.dash-menu .box:hover h5, .dash-menu .box.hover h5 { 
	color:#fff;
}

.dash-menu .box:hover .fa-fw.danger, .dash-menu .box.hover .fa-fw.danger { 
	background:#fff;
	color:#d9534f;
}

.dash-menu .box h5{
	margin-top: 20px;
}
.btn.btn-default{
	background: #cdcdcd !important;
	border: #cdcdcd !important;
	color: #000 !important;
}
@media(max-width:760px){
	/* Start statistics */
	.statistics {
		margin-top: 25px;
		color: #CCC;
	}
	.statistics .box {
		padding: 15px;
		overflow: hidden;
		text-align: center;
		color:#d9534f;
		border-top:0px;
		box-shadow: 0px 0px 6px 1px #df2e2e2e;
	}
	.statistics .box > i {
		// float:left;
		color: #FFF;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 20px;
		margin-top: 0px;
	}
	.statistics .box .info {
		width: auto;
		min-height:30px;
		width:100%;
		// display: none;
	}
	.statistics .box .info h5{
		font-size: 12px;
	}

	.login-page{
		background: #fff !important;
	}
	.login-logo .logo-mini .main-logo img {
		width: 92%;
	}
	.login-box{
		width: 90% !important;
		margin-top: 150px !important;
	}
/* 	.content {
		padding: 0px !important;
		padding-left: 0px !important;
		padding-right: 0px !important;
	} */
	
	/* End statistics */
}